fieldset[disabled] {
	.multiselect {
		pointer-events: none;
	}
}
.multiselect__spinner {
	position: absolute;
	right: 1px;
	top: 1px;
	width: 48px;
	height: 35px;
	background: #fff;
	display: block;
	&:after {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		margin: -8px 0 0 -8px;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		border-color: #41b883 transparent transparent;
		border-style: solid;
		border-width: 2px;
		box-shadow: 0 0 0 1px transparent;
		animation: a 2.4s cubic-bezier(.51, .09, .21, .8);
		animation-iteration-count: infinite;
	}
	&:before {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		margin: -8px 0 0 -8px;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		border-color: #41b883 transparent transparent;
		border-style: solid;
		border-width: 2px;
		box-shadow: 0 0 0 1px transparent;
		animation: a 2.4s cubic-bezier(.41, .26, .2, .62);
		animation-iteration-count: infinite;
	}
}
.multiselect__loading-enter-active {
	transition: opacity .4s ease-in-out;
	opacity: 1;
}
.multiselect__loading-leave-active {
	transition: opacity .4s ease-in-out;
	opacity: 1;
	opacity: 0;
}
.multiselect__loading-enter {
	opacity: 0;
}
.multiselect {
	font-family: inherit;
	font-size: 16px;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	box-sizing: content-box;
	display: block;
	position: relative;
	width: 100%;
	min-height: 40px;
	text-align: left;
	color: #35495e;
	* {
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
}
.multiselect__input {
	font-family: inherit;
	font-size: 16px;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	position: relative;
	display: inline-block;
	min-height: 20px;
	line-height: 20px;
	border: none;
	border-radius: 5px;
	background: #fff;
	padding: 0 0 0 5px;
	width: 100%;
	transition: border .1s ease;
	box-sizing: border-box;
	margin-bottom: 8px;
	vertical-align: top;
	&::-webkit-input-placeholder {
		color: #35495e;
	}
	&:-ms-input-placeholder {
		color: #35495e;
	}
	&::placeholder {
		color: #35495e;
	}
	&:hover {
		border-color: #cfcfcf;
	}
	&:focus {
		border-color: #a8a8a8;
		outline: none;
	}
}
.multiselect__single {
	font-family: inherit;
	font-size: 16px;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	position: relative;
	display: inline-block;
	min-height: 20px;
	line-height: 20px;
	border: none;
	border-radius: 5px;
	background: #fff;
	padding: 0 0 0 5px;
	width: 100%;
	transition: border .1s ease;
	box-sizing: border-box;
	margin-bottom: 8px;
	vertical-align: top;
	padding-left: 5px;
	margin-bottom: 8px;
	&:hover {
		border-color: #cfcfcf;
	}
	&:focus {
		border-color: #a8a8a8;
		outline: none;
	}
}
.multiselect--disabled {
	opacity: .6;
	background: #ededed;
	pointer-events: none;
	.multiselect__current {
		background: #ededed;
		color: #a6a6a6;
	}
	.multiselect__select {
		background: #ededed;
		color: #a6a6a6;
	}
}
.multiselect--active {
	z-index: 1;
	&:not(.multiselect--above) {
		.multiselect__current {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.multiselect__input {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.multiselect__tags {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.multiselect__select {
		transform: rotate(180deg);
	}
	.multiselect__placeholder {
		display: none;
	}
}
.multiselect--above.multiselect--active {
	.multiselect__current {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.multiselect__input {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.multiselect__tags {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
.multiselect__tag {
	~ {
		.multiselect__input {
			width: auto;
		}
		.multiselect__single {
			width: auto;
		}
	}
	position: relative;
	display: inline-block;
	padding: 4px 26px 4px 10px;
	border-radius: 5px;
	margin-right: 10px;
	color: #fff;
	line-height: 1;
	background: #41b883;
	margin-bottom: 5px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
}
.multiselect__tags-wrap {
	display: inline;
}
.multiselect__tags {
	min-height: 40px;
	display: block;
	padding: 8px 40px 0 8px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	background: #fff;
	font-size: 14px;
}
.multiselect__tag-icon {
	cursor: pointer;
	margin-left: 7px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	font-weight: 700;
	font-style: normal;
	width: 22px;
	text-align: center;
	line-height: 22px;
	transition: all .2s ease;
	border-radius: 5px;
	&:after {
		content: "\D7";
		color: #266d4d;
		font-size: 14px;
	}
	&:focus {
		background: #369a6e;
		&:after {
			color: #fff;
		}
	}
	&:hover {
		background: #369a6e;
		&:after {
			color: #fff;
		}
	}
}
.multiselect__current {
	min-height: 40px;
	overflow: hidden;
	padding: 8px 12px 0;
	padding-right: 30px;
	white-space: nowrap;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	line-height: 16px;
	box-sizing: border-box;
	display: block;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
}
.multiselect__select {
	line-height: 16px;
	box-sizing: border-box;
	display: block;
	margin: 0;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 38px;
	right: 1px;
	top: 1px;
	padding: 4px 8px;
	text-align: center;
	transition: transform .2s ease;
	&:before {
		position: relative;
		right: 0;
		top: 65%;
		color: #999;
		margin-top: 4px;
		border-style: solid;
		border-width: 5px 5px 0;
		border-color: #999 transparent transparent;
		content: "";
	}
}
.multiselect__placeholder {
	color: #adadad;
	display: inline-block;
	margin-bottom: 10px;
	padding-top: 2px;
}
.multiselect__content-wrapper {
	position: absolute;
	display: block;
	background: #fff;
	width: 100%;
	max-height: 240px;
	overflow: auto;
	border: 1px solid #e8e8e8;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}
.multiselect__content {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	min-width: 100%;
	vertical-align: top;
	&::webkit-scrollbar {
		display: none;
	}
}
.multiselect--above {
	.multiselect__content-wrapper {
		bottom: 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom: none;
		border-top: 1px solid #e8e8e8;
	}
}
.multiselect__element {
	display: block;
}
.multiselect__option {
	display: block;
	padding: 12px;
	min-height: 40px;
	line-height: 16px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	&:after {
		top: 0;
		right: 0;
		position: absolute;
		line-height: 40px;
		padding-right: 12px;
		padding-left: 20px;
		font-size: 13px;
	}
}
.multiselect__option--highlight {
	background: #41b883;
	outline: none;
	color: #fff;
	&:after {
		content: attr(data-select);
		background: #41b883;
		color: #fff;
	}
}
.multiselect__option--selected {
	background: #f3f3f3;
	color: #35495e;
	font-weight: 700;
	&:after {
		content: attr(data-selected);
		color: silver;
	}
}
.multiselect__option--selected.multiselect__option--highlight {
	background: #ff6a6a;
	color: #fff;
	&:after {
		background: #ff6a6a;
		content: attr(data-deselect);
		color: #fff;
	}
}
.multiselect__option--disabled {
	background: #ededed;
	color: #a6a6a6;
	cursor: text;
	pointer-events: none;
}
.multiselect__option--group {
	background: #ededed;
	color: #35495e;
}
.multiselect__option--group.multiselect__option--highlight {
	background: #35495e;
	color: #fff;
	&:after {
		background: #35495e;
	}
}
.multiselect__option--disabled.multiselect__option--highlight {
	background: #dedede;
}
.multiselect__option--group-selected.multiselect__option--highlight {
	background: #ff6a6a;
	color: #fff;
	&:after {
		background: #ff6a6a;
		content: attr(data-deselect);
		color: #fff;
	}
}
.multiselect-enter-active {
	transition: all .15s ease;
}
.multiselect-leave-active {
	transition: all .15s ease;
	opacity: 0;
}
.multiselect-enter {
	opacity: 0;
}
.multiselect__strong {
	margin-bottom: 8px;
	line-height: 20px;
	display: inline-block;
	vertical-align: top;
}
[dir=rtl] {
	.multiselect {
		text-align: right;
	}
	.multiselect__select {
		right: auto;
		left: 1px;
	}
	.multiselect__tags {
		padding: 8px 8px 0 40px;
	}
	.multiselect__content {
		text-align: right;
	}
	.multiselect__option {
		&:after {
			right: auto;
			left: 0;
		}
	}
	.multiselect__clear {
		right: auto;
		left: 12px;
	}
	.multiselect__spinner {
		right: auto;
		left: 1px;
	}
}
