<template>
  <div class="flex border-b border-40" v-if="value">
    <div class="md:w-1/4 py-4"><h4 class="font-normal text-80">{{ field.name }}</h4></div>
    <div class="md:w-3/4 py-4 break-words">
      <div class="mb-2" v-for="(item, index) of firstFiveItems" :key="item.id">
        <p>{{ item[label] }}</p>
      </div>
      <div v-if="value.length > 5">
        <div class="mb-2 resource-multiselect__show-more" @click="show = !show" v-if="!show">Show more ...</div>
        <div v-if="show">
          <div class="mb-2" v-for="(item, index) of remainingItems" :key="item.id">
            <p>{{ item[label] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-else>—</div>
</template>

<script>
import FieldValues from '../mixins/FieldValues'

export default {
  mixins: [FieldValues],
  props: ['resource', 'resourceName', 'resourceId', 'field'],
  computed: {
    firstFiveItems() {
      return this.value ? this.value.slice(0, 5) : []
    },
    remainingItems() {
      return this.value ? this.value.slice(5) : []
    },
  },
  data() {
    return {
      value: {},
      show: false,
      initialOptionsSet: false
    }
  },
  beforeMount() {
    this.setValueFromField()
  },
  mounted() {
    this.setInitialValue()
  },
  methods: {
    async setInitialValue() {
      if (this.field.initialContentType) {
        this.dependentFieldValue = this.field.initialContentType
      }

      if (this.field.contentType) {
        this.dependentFieldValue = this.field.contentType
      }

      this.setValueFromField();

      if (this.dependentFieldValue) {
        await this.setInitialOptions(this.dependentFieldValue)
      }
    },
  }
}
</script>
