<template>
  <DefaultField :field="field" :errors="errors">
    <template #field>
      <div class="flex flex-col adore-resource-multiselect-field">
        <VueMultiselect
            v-model="value"
            :track-by="this.idColumn"
            :label="this.label"
            :custom-label="customLabel"
            :options="options"
            :max="field.max || null"
            :placeholder="field.placeholder || 'Select option'"
            :close-on-select="false"
            :loading="isLoading"
            :multiple="true"
            @search-change="getOptions"
            :searchable="this.searchable || true"
        />
      </div>
      <!--<pre class="language-json"><code>{{ value  }}</code></pre> -->
    </template>
  </DefaultField>
</template>

<script>
import VueMultiselect from 'vue-multiselect'
import {FormField, HandlesValidationErrors} from 'laravel-nova';
import FieldValues from "../mixins/FieldValues";

export default {
  mixins: [FormField, HandlesValidationErrors, FieldValues],
  props: ["resourceName", "resourceId", "field"],
  components: {
    VueMultiselect
  },
  data() {
    return {
      isLoading: false,
      ajaxTimeout: null,
      dependentFieldValue: null,
      initialOptionsSet: false
    };
  },
  computed() {
  },
  mounted() {
    if (this.field.dependsOn) {
      this.field.dependencyField = Object.keys(this.field.dependsOn)[0];
    }

    if (this.field.searchable === false) {
      this.getOptions()
    }

    if (!this.field.contentType) {
      Nova.$on(`${this.field.dependencyField}-change`, (values) => {
        this.updateDependencyFieldValue(values);
      });
    }

    this.$nextTick(() => {
      this.emitFieldValueChange(this.field.attribute, this.value)
    });
  },
  destroyed() {
    Nova.$off(`${this.field.dependencyField}-change`);
  },
  methods: {
    async setInitialValue() {
      if (this.field.initialContentType) {
        this.dependentFieldValue = this.field.initialContentType
      }

      if (this.field.contentType) {
        this.dependentFieldValue = this.field.contentType
      }

      this.setValueFromField();

      if (this.dependentFieldValue) {
        await this.setInitialOptions(this.dependentFieldValue)
      }
    },
    customLabel(option) {
      if (!this.field.customLabel) {
        return `${option[this.label]}`;
      }

      return this.field.customLabel
          .replaceAll('${id}', `${option[this.idColumn]}`)
          .replaceAll('${label}', `${option[this.label]}`);
    },
    fill(formData) {
      if (this.value) {
        let value = this.value.map(item => {
          return item[this.idColumn];
        });
        formData.append(this.field.attribute, JSON.stringify(value) || []);
      }
    },
    handleChange(value) {
      this.value = value;

      this.emitFieldValueChange(this.field.attribute, this.value)
    },
    updateDependencyFieldValue(value) {
      this.dependentFieldValue = value;

      if (!this.initialOptionsSet) {
        this.setInitialValue();
      }

      this.value = "";
    },
    getOptions(query) {
      if ((query !== "" || this.field.searchable === false) && this.field.route) {
        this.isLoading = true;
        clearTimeout(this.ajaxTimeout);

        if (!this.field.contentType && !this.dependentFieldValue) {
          return;
        }

        this.ajaxTimeout = setTimeout(() => {
          Nova.request()
            .get(this.field.route + this.dependentFieldValue, {
              params: {
                contentType: this.field.contentType || this.dependentFieldValue,
                limit: this.field.maxOptions,
                query: query
              }
            })
            .then(response => {
              this.options = response.data
              this.isLoading = false;
            })
            .catch(error => {
              this.isLoading = false;
            });
        }, 400);
      }
    },
    emitFieldValueChange(attribute, value) {
      Nova.$emit(`${attribute}-change`, value)
    },
  }
};
</script>
